label {
	display: inline;
	margin-right: 20px;
	
}
input {
	float: right;
	clear: both;
	width: 25% !important;
	border: 1px solid #dddddd !important;
	padding: 5px;
	text-align: center;
}

button.submit {
	width: 90%;
	margin:0 auto;
}